body {
    background-color: chocolate;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;

}
main {
    background-color: blanchedalmond;
    margin:20px;
    padding:28px;
    text-align: center;
}

img {
   border: 1px solid black;
   border-radius: 8px;
}

button{
    background-color:darkolivegreen;
    color:black;
}