body {background-color: cyan;
    font-family:Arial,sans-serif;
    margin: 0;
    padding: 10px;
    color:black;
    font-size: 20px;
    
}

nav {margin-top:20px;

a {
    color:coral;
    font-size: 20px;
    padding: 10px;
    text-align: center;}


  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content: center;
}
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

header {
    color: rgb(0, 85, 220);
    padding: 15px;
    border: 1px solid green;
    text-align: center;
}
.formulario {
    max-width:400px;
    margin:20px auto;
}

.formulario form {
    display:flex;
    flex-direction:column;
    gap:16px;
}

.formulario input,.formulario textarea {
    padding:9px;
    border: 2px solid burlywood;
    border-radius: 4px;
}

.formulario button{
    background-color:aqua;
    padding:10px;
    color:black;
    border: none;
    border-radius:5px;
}

.grid-sabores {
    display:flex;
    justify-content:center;
    gap: 24px;
}

.card-sabores {
    background-color: darkred;
    padding: 8px;
    color:cadetblue;
    font-size:15px;

}
.sobre,.contato{
    background-color: brown;
    margin-bottom:30px;
    padding:20px;
    border-radius:10px;
}

div {
    background-color:blanchedalmond;
    text-align: center;
    border-radius:30px;
    padding: 5px;
    border:18px;
}

h1,h2 {
    background-color:cornflowerblue;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}

p {
    color: rgb(20, 18, 18);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align:center;
    padding: 10px;
}

footer {
    background-color: chocolate;
    color:white;
    padding: 10px;
    margin-top:50px;
    text-align: center;
}