body {
    font-family:Arial,sans-serif;
    background-color: cyan;
    margin: 0;
    padding: 10px;
    color:black;
    font-size: 20px;
    
}

nav {margin-top:20px;

a {
    color:coral;
    font-size: 20px;
    padding: 10px;
    text-align: center;}


  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content: center;
}
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

header {
    color: rgb(0, 85, 220);
    padding: 15px;
    border: 1px solid green;
    text-align: center;
}

.grid-sabores {
    display:flex;
    justify-content:center;
    gap: 20px;
}

.card-sabores {
    background-color: darkred;
    padding: 8px;
    color:cadetblue;
    font-size:15px;

}

div {
    background-color:blanchedalmond;
    padding: 9px;
    margin: 10px;
    border: 2px solid;
}

h1,h2 {
    background-color:cornflowerblue;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}

p {
    color: rgb(34, 33, 33);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
}

footer {
    background-color: chocolate;
    padding: 10px;
    border: 2px solid green;
    text-align: center;
    font-size: 5px;
}