body {background-color:darkmagenta;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 10px;
    color:black;
    font-size: 20px;
    
}

nav {margin-top:20px;

a {
    color:coral;
    font-size: 20px;
    padding: 10px;
    text-align: center;}


  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content: center;
}
}

.container {
    max-width: 910px;
    margin: 20px auto;
    padding: 0 20px;
}

header {
    color: rgb(0, 85, 220);
    padding: 15px;
    border: 1px solid green;
    text-align: center;
}
.formulario {
    max-width:36vw;
    margin:1vh auto;
}

 form {
    display:flex;
    flex-direction:column;
    gap:16px;
}

input,textarea {
     padding:50px;
     border-radius:5px;
     border:1px solid aliceblue;

&:focus,&:focus{
    border-color:chartreuse;
    outline: none;
}}

.formulario input,.formulario textarea {
    padding:9px;
    border: 2px solid burlywood;
    border-radius: 4px;
}

.formulario input:focus, .formulario textarea:focus{
    color:cadetblue;

}
  button{
    background-color:aqua;
    padding:13px;
    color:black;
    border: none;
    border-radius:24px;

&:hover{
    background-color:goldenrod;
    color:black;
}}

.grid-sabores {
    display:flex;
    justify-content:center;
    gap: 21px;
}

.card-sabores {
    background-color: darkred;
    padding: 12px;
    color:rgb(169, 199, 200);
    font-size:13px;

}
.sobre,.contato{
    background-color: brown;
    margin-bottom:25px;
    padding:18px;
    border-radius:26px;
}

div {
    background-color:blanchedalmond;
    text-align: center;
    border-radius:24px;
    padding: 5px;
    border:19px;
}

h1,h2 {
    background-color:cornflowerblue;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}

p {
    color: rgb(20, 18, 18);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align:center;
    padding: 10px;
}

footer {
    background-color: chocolate;
    color:white;
    padding: 10px;
    margin-top:50px;
    text-align: center;
}